version: '3.8'
services:
  adminserver:
    image: container-registry.oracle.com/middleware/weblogic:12.2.1.4
    container_name: wl-admin
    environment:
      - USERNAME=weblogic
      - PASSWORD=welcome1
    volumes:
      - ./target:/u01/apps
    ports:
      - "7001:7001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7001/console/login/LoginForm.jsp"]
      interval: 30s
      timeout: 10s
      retries: 5
  managedserver:
    image: container-registry.oracle.com/middleware/weblogic:12.2.1.4
    container_name: wl-managed
    depends_on:
      - adminserver
    environment:
      - USERNAME=weblogic
      - PASSWORD=welcome1
    volumes:
      - ./target:/u01/apps
    ports:
      - "8001:8001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/"]
      interval: 30s
      timeout: 10s
      retries: 5
